{
  "openapi": "3.0.3",
  "info": {
    "title": "Disruption Intelligence",
    "version": "1.0.0",
    "description": "Geospatial disruption intelligence API built from WARN filings, labor signals, and regional economic events. Pay per call in USDC on Base."
  },
  "servers": [
    {
      "url": "https://disruption.forgemesh.io"
    }
  ],
  "paths": {
    "/events/{id}/severity": {
      "get": {
        "summary": "Event severity summary",
        "x-x402-price": "$0.01",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "WARN event UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "composite_score": 0,
                  "risk_tier": "moderate",
                  "scored_at": "",
                  "industry_classification": {
                    "label": "Health Care and Social Assistance",
                    "naics_sector": "62",
                    "method": "explicit_naics",
                    "confidence": "high",
                    "coverage_note": "Industry derived from source-provided NAICS code."
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/events/{id}/history": {
      "get": {
        "summary": "Event history",
        "x-x402-price": "$0.02",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "WARN event UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "event_id": "",
                  "version_count": 0,
                  "versions": []
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/events/{id}/relationships": {
      "get": {
        "summary": "Event relationship summary",
        "x-x402-price": "$0.02",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "WARN event UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "event_id": "",
                  "relationship_count": 0,
                  "relationships": []
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/events/{id}/timeline": {
      "get": {
        "summary": "Event timeline",
        "x-x402-price": "$0.05",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "WARN event UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "event": {},
                  "versions": [],
                  "transitions": [],
                  "relationships": []
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/events/{id}/company-intel": {
      "get": {
        "summary": "Company context",
        "x-x402-price": "$0.03",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "WARN event UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "event_id": "",
                  "company": {},
                  "industry_classification": {
                    "label": "Manufacturing",
                    "naics_sector": "31-33",
                    "method": "source_industry_text",
                    "confidence": "medium",
                    "coverage_note": "Industry inferred from source-provided industry text, not an explicit NAICS code."
                  },
                  "aliases": [],
                  "locations": [],
                  "intel": null
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/companies/search": {
      "get": {
        "summary": "Company search",
        "x-x402-price": "$0.01",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Company name search query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [],
                  "total": 0
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/companies/{id}": {
      "get": {
        "summary": "Company profile",
        "x-x402-price": "$0.05",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Company UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "company": {},
                  "scores": [],
                  "recent_events": [],
                  "locations": []
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/companies/{id}/intelligence": {
      "get": {
        "summary": "Company risk summary",
        "x-x402-price": "$0.05",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Company UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "risk_tier": "moderate",
                    "event_count": 0,
                    "severity_avg": 0
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/radius/{zip}": {
      "get": {
        "summary": "Nearby disruption events",
        "x-x402-price": "$0.05",
        "parameters": [
          {
            "name": "zip",
            "in": "path",
            "required": true,
            "description": "5-digit US ZIP code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Radius in miles (max 250, default 50)",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "center": {},
                  "radius_miles": 50,
                  "data": [],
                  "total": 0
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/territory/{zip}/disruption": {
      "get": {
        "summary": "Territory disruption summary",
        "x-x402-price": "$0.10",
        "parameters": [
          {
            "name": "zip",
            "in": "path",
            "required": true,
            "description": "5-digit US ZIP code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Radius in miles (max 500, default 100)",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "summary": {
                    "disruption_score": 0,
                    "total_events": 0,
                    "total_employees_affected": 0
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/regions/{state}": {
      "get": {
        "summary": "Regional disruption summaries",
        "x-x402-price": "$0.02",
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "description": "2-letter state code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "state": "",
                  "county_count": 0,
                  "data": []
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/regions/{state}/{county}": {
      "get": {
        "summary": "County disruption summary",
        "x-x402-price": "$0.01",
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "description": "2-letter state code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "county",
            "in": "path",
            "required": true,
            "description": "County name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "severity_avg": 0,
                    "event_count": 0,
                    "total_employees": 0
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/jurisdictions": {
      "get": {
        "summary": "Jurisdiction activity summaries",
        "x-x402-price": "$0.02",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "count": 0,
                  "data": []
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/jurisdictions/{state}": {
      "get": {
        "summary": "State activity summary",
        "x-x402-price": "$0.01",
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "description": "2-letter state code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "jurisdiction": "",
                    "total_events": 0
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/watchlists/{id}/preview": {
      "get": {
        "summary": "Company watchlist event preview",
        "x-x402-price": "$0.03",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Watchlist UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ownerKey",
            "in": "query",
            "required": false,
            "description": "Caller owner scope for the watchlist",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum preview row count (max 100, default 25)",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "watchlist": {},
                  "items": [],
                  "preview": [],
                  "total_previewed": 0
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    },
    "/watchlists/{id}/preview.csv": {
      "get": {
        "summary": "Company watchlist event preview CSV",
        "x-x402-price": "$0.05",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Watchlist UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ownerKey",
            "in": "query",
            "required": false,
            "description": "Caller owner scope for the watchlist",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum preview row count (max 100, default 25)",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                },
                "example": "event_id,matched_item_id,matched_query,matched_company_id,company_id,company_name"
              }
            }
          },
          "402": {
            "description": "Payment required — include x402 payment-signature header"
          }
        }
      }
    }
  },
  "x-x402": {
    "network": "eip155:8453",
    "payTo": "0xA8774fACfD3Da2EA11f240C977b9973D78aDFCFe",
    "facilitator": "https://x402.org/facilitator/"
  }
}
